@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}


main {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 1;
}

.social,
.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  gap: 1rem;
  min-height: 85vh;
}


.social {
  position: fixed;
  bottom: 0;
  left: 2rem;
  z-index: 5;
}

.social div {
  width: 0.25rem;
  height: 5rem;
  background-color: rgb(244, 244, 245);
}

.social svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #4a77ff;
}

.social .cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4a77ff;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid #4a77ff;
  border-radius: 10px;
  padding: .4rem .25rem .25rem .25rem;
  width: 27px;
  height: 27px;
}


.email {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
  height: 100%;
  min-height: 85vh;
  position: fixed;
  top: 0;
  right: 2rem;
  z-index: 5;
  width: 0;
}

.email a {
  display: block;
  text-orientation: mixed;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  font-weight: bold;
  color: #4a77ff;
}

.email-text div {
  width: 0.25rem;
  height: 5rem;
  background-color: rgb(244, 244, 245);
}

.email-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.scroll-to-top {
  color: #e5e5e5;
  position: fixed;
  bottom: 1rem;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  border-style: none;
  border: 1px solid #4a77ff;
}

.scroll-to-top:hover {
  background-color: #4a77ff;
  color: #e5e5e5;
  transition: all 0.3s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  min-height: 85vh;
  width: 100%;
}

.hero,
.about,
.skills,
.projects,
.contact {
  /* max-width: 1200px; */
  width: 100%;
  padding: 2.5rem 1.5rem;
  margin: 0 auto;
}

.font-blue {
  color: #4a77ff;
}

@media(width <=1000px) {
  .social {
    display: none;
  }

  .email {
    display: none;
  }

  .content {
    min-height: 100vh;
    width: 100%;
    padding: 0;
  }
}