.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141414;
    padding: 2rem 3.5rem;
}

.proj-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
    height: auto;
    padding: 0 3rem 2rem 3rem;
    margin: 0 auto;
    gap: 2rem;
}

.proj-title {
    color: #3d3d3d;
    font-size: 4rem;
    padding: 2rem 0 4rem 0;
}

.face {
    width: 300px;
    height: 200px;
    transition: .4s;
    position: absolute;
    top: 0;
    left: 0;
    background: #e5e5e5;
    border-radius: 10px;
}

.card-cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 21;
    cursor: pointer;

}

.proj-card:hover .face.card-cover {
    transform: translateY(0);
    box-shadow: rgb(0 0 0 / 40%) 0px 5px 20px;
}

.face.card-cover .proj-content a {
    transition: .5s;
}

.face.card-content {
    position: relative;
    background: #030202;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    box-sizing: border-box;
    /* transform: translateY(-200px); */
    /* While I don't fix the hover issue: */
    /* opacity: 0; */
    /* ------------------------------- */
    box-shadow: rgb(0 0 0 / 40%) 0px 5px 20px;
    z-index: 20;
}

/* Original hover effect: */

.proj-card:hover .face.card-content {
    transform: translateY(0);
}

/*-----------------------------*/

/*  While I don't fix the hover issue: */

/* .proj-card:hover .face.card-content {
    opacity: 1;
    z-index: 22;
    border-radius: 0px !important;
    cursor: pointer;
}

.proj-card:hover .face.card-content {
    transition: opacity .5s, transform .5s;
} */

/* ------------------------------- */

.proj-card .face.card-content {
    border-radius: 0px 0px 10px 10px;
}

.proj-card .face.card-cover {
    border-radius: 10px 10px 0px 0px;
}



.proj-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}


.proj-content {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.proj-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.proj-links a {
    text-decoration: none;
    height: 40px;
    color: #a3a3a3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #141414;
    padding: 0.5rem 1rem;
    transition: 0.5s;
}

.proj-links a:hover {
    color: #e5e5e5;
}

.proj-details {
    line-height: 1.2;
}

#WhatsOnForToday {
    background: url(https://github.com/vitorsm19/frontend-portfolio/blob/master/src/assets/todo-project.jpg?raw=true);
    background-size: cover;
    background-position-x: -30px;
}

#Mozify {
    background: url(https://github.com/vitorsm19/frontend-portfolio/blob/master/src/assets/mozify-preview.jpeg?raw=true);
    background-size: cover;
    background-position: center;
}

#next {
    background-color: #030202;
}

.glider-contain .glider-prev svg,
.glider-contain .glider-next svg {
    color: #e5e5e5;
}

.glider-contain .glider-prev:hover {
    transform: scale(1.2);
}

.glider-contain .glider-prev:hover {
    transition: transform 0.5s;
}

.glider {
    height: auto;
}

.glider-dots .glider-dot.active {
    background: #4a77ff;
}

.glider-dots .glider-dot {
    background: #3d3d3d;
}

.glider-track {
    z-index: 10;
    position: relative;
}

.glider-dots {
    margin-top: 4rem !important;
}

@media(width <=1000px) {
    .projects {
        padding: 0;
        height: auto;
    }

    .proj-container {
        max-height: 100%;
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }

    .proj-title {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
    }

    .proj-title h1 {
        font-size: 4rem;
    }

    .proj-card {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .card-content {
        height: auto;
    }

    .proj-content {
        gap: 1rem;
    }

    .face.card-content {
        transform: translateY(0);
    }

    .glider {
        height: auto;
    }

    .glider .glider-dots {
        margin-top: 1rem;
    }


}

@media(width <=500px) {

    .glider-track .glider-slide .card-cover,
    .glider-track .glider-slide .card-content {
        width: 250px !important;
    }

    .proj-links a {
        padding: 0.5rem 0.5rem;
    }
}